.container{
  padding: 0px 80px 80px 80px;
}
.Heading{
  display: flex;
      justify-content: center;
      font-size: var(--font-size-4xl);
      font-weight: var(--font-weight-bold);
      font-family: var(--font-display);
      color: var(--color-text-primary);
}
.content{
  display: flex;
      justify-content: center;
      font-size: var(--font-size-md);
      font-family: var(--font-primary);
      color: var(--color-text-primary);
}
.section_container{
  padding: 60px;
    border: 1px solid var(--color-cta);
}
.content2{
  display: flex;
      flex-direction: row;
}
.image{
  width: 50%;
    display: flex;
    justify-content: flex-end;
}
.text{
  width: 50%;
}
.head{
  display: flex;
    justify-content: center;
    font-weight: var(--font-weight-bold);
    font-family: var(--font-display);
    color: var(--color-text-primary);
}
.texts{  
  text-align: justify;
  font-family: var(--font-primary);
  color: var(--color-text-primary);
}

.imgFlr{
  position: relative;
    right: 0px;
    /* z-index: -99999; */
    top: 400px;
}
.imgFlr img{
  width: 40%;
  margin-left: calc(100% - 250px - 10px);
  margin-top: calc(-35vh - 150px - 10px);

}


.imgFlrother{
  /* position: absolute;
  left: -143px; */
  position: relative;
}
