.container{
 margin-top: 100px;
  padding: 0px 80px 80px 80px;

}
.Heading{
  display: flex;
      justify-content: center;
      font-size: 50px;
      font-weight: bold;
}
.content{
  display: flex;
      justify-content: center;
      font-size: 18px;
   
}
.section_container{
  padding: 60px;
    border: 1px solid #24b04b;
}
.content2{
  display: flex;
      flex-direction: row;
}
.image{
  width: 50%;
    display: flex;
    justify-content: flex-end;
}
.text{
  width: 50%;
}
.head{
  display: flex;
    justify-content: center;
    font-weight: 600;
}
.texts{  
  text-align: justify;
}

.imgFlr{
  position: relative;
    right: 0px;
    /* z-index: -99999; */
    top: 400px;
}
.imgFlr img{
  width: 40%;
  margin-left: calc(100% - 250px - 10px);
  margin-top: calc(-35vh - 150px - 10px);

}


.imgFlrother{
  /* position: absolute;
  left: -143px; */
}
