<div class="container">
  <div class="imgFlr">
    <img src="https://wrijpsiiuvmeqaeklnqi.supabase.co/storage/v1/object/sign/new/flower1%20Background%20Removed%201.svg?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJuZXcvZmxvd2VyMSBCYWNrZ3JvdW5kIFJlbW92ZWQgMS5zdmciLCJpYXQiOjE3NDM4NjQ3MDEsImV4cCI6MTc3NTQwMDcwMX0.AEYF2_NuJ-zD6z3jpllXSlmHIFRF1kg68XaYwhTespQ">
  </div>
<div class="section_container">
  <div class="section1"> 
  
    <div class="Heading">
Our Roots
    </div>
   
    <div class="content">
      
      Our roots are over 110 years old and span 4 generations. The origin of these all-natural remedies goes back all the way to Devi Das Sharma (1895-1984), a self-taught Vaid who was from the first batch of practitioners who were officially recognised as Ayurvedic Vaids by the then government. His dedication to helping others knew no bounds. With unwavering resolve, he developed key medicines for arthritis, eyes, jaundice, body aches, fever, hives, heart conditions, STDs, & skin allergies. Remaining true to his calling, he happily served his community till the end of his days.<br><br>
      His learnings are carried on by his son, RMP-licensed Vaid Om Prakash Sharma, who has pursued Ayurveda for his community’s welfare. Before he was hindered by old age, he prepared medicines with his own hands to bring the goodness of health to those in need. For over six decades, he has treated thousands, driven by a vision to help people live healthier, happier lives. In fact, he continues to do so to date. <br><br>
      It is in this rich soil of compassion and expertise that Welherb grew its roots. We are the manifestation of their lifelong commitment to helping people discover the path of better living. We wish to continue their legacy by being a source of health, happiness and hope to you.  <br><br>
      For us, your well-being matters above everything else. <br><br><br><br><br><br>
    </div>
    
  </div>
  <div class="section1">
    <div class="Heading">
      Our Reasons for Existence
    </div>
    <div class="content" style="display: contents">
    <div class="" style="text-align: center;">
      Our sole mission is to spread the joy of better living. That’s it. We have a strong moral compass that guides us in our mission and vision to make health accessible and achievable for all. <br><br>
    </div>
 
      <div class="content2">
        <div class="text">
<div class="head">
  Goes beyond guesswork
</div>
<div class="texts">
  With over a century of Ayurvedic wisdom behind us, our formulations are the result of rigorous research, unyielding dedication, and seasoned expertise. Our true pride lies in the countless lives we've touched - tens of thousands of people who've experienced real, tangible health benefits.<br><br>
</div>
<div class="head">
  Restoring equilibrium 
</div>
<div class="texts">
  Our medicines are created to realign the whole body as Ayurvedic science believes that no illness in the body exists in isolation. Through our formulations, we target the root cause to help you gain long-term health instead of short-lived gains.<br><br>
</div>
<div class="head">
  Reboots your system
</div>
<div class="texts">
  Our medicines enhance your body's natural defences, expertly balancing the three doshas to restore your well-being. Using Ayurvedic ingredients, we boost your innate healing abilities without any adverse effects. This holistic approach strengthens your immune system, allowing your body to heal more effectively and efficiently.<br><br>
</div>
        </div>
        <div class="image">
          <img style="height: 500px;" src="https://wrijpsiiuvmeqaeklnqi.supabase.co/storage/v1/object/sign/new/Designer%20(33)%20Background%20Removed%201.svg?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJuZXcvRGVzaWduZXIgKDMzKSBCYWNrZ3JvdW5kIFJlbW92ZWQgMS5zdmciLCJpYXQiOjE3NDM4NjM1NjEsImV4cCI6MTc3NTM5OTU2MX0.zMHUeL9IClSLQR7kylUKAqfvzgz4qiMxE12CQ6sHrJY" alt="Health Image">
        </div>
      </div>
    </div>
  </div>
  <div class="section1">
  
    <div class="content" style="display: contents">

      <div class="content2" style="flex-direction: row-reverse;">
        <div class="text">
<div class="head">
  Sourced directly from nature
</div>
<div class="texts">
  The A-Z of our ingredients are produced by Mother Nature herself. We strongly believe better health begins with better ingredients. We only use A-grade herbs, seeds, plant roots, and naturally-occurring minerals to serve you the best.<br><br>
</div>
<div class="head">
  Zero chemicals or toxins
</div>
<div class="texts">
  We take pride in the short open shelf-life of our remedies. They are prepared in small batches. Our preparation methods are focused entirely on providing the most potent version of the ingredients to you, exactly as nature intended. We use 100% natural, toxin-free ingredients like salt, neem, and turmeric, which double as preservatives and medicinal herbs, ensuring purity and efficacy.<br><br>
</div>
<div class="head">
  Made in-house in India
</div>
<div class="texts">
  To ensure the highest quality of our ingredients, preparation methods and medicines, all our remedies are produced following strict standards of quality checks in our independently owned facility. We oversee the entire process from start to finish to ensure there are no compromises.<br><br>
</div>
<div class="head">
  Never-ending quest for learning
</div>
<div class="texts">
  Nature’s healing secrets when combined with the annals of ayurvedic wisdom, is a bottomless reservoir of knowledge that continues to teach us something new every day. Curious as we are, we are driven to discover the magic of healing buried deep in nature to help you get better from the inside out.<br><br>
</div>
        </div>
        <div class="image" style="justify-content: flex-start;">
          <img style="height: 500px;" src="https://wrijpsiiuvmeqaeklnqi.supabase.co/storage/v1/object/sign/new/Designer%20(33)%20Background%20Removed%201.svg?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJuZXcvRGVzaWduZXIgKDMzKSBCYWNrZ3JvdW5kIFJlbW92ZWQgMS5zdmciLCJpYXQiOjE3NDM4NjM1NjEsImV4cCI6MTc3NTM5OTU2MX0.zMHUeL9IClSLQR7kylUKAqfvzgz4qiMxE12CQ6sHrJY" alt="Health Image">
        </div>
      </div>
    </div>
  </div>

</div>
 
</div>