<div class="container">
  <div class="card" [ngStyle]="{'background-color': color}">
    <div class="text">
      <h1>ESR COUNT</h1>
      <p style="width: 90%;">
        Welherb ESR COUNT is the first of its kind, all-natural & herbal antibiotic. Welherb’s Ayurvedic Proprietary medicine is safe and successful in treating ESR. It is a mighty concoction of antiviral, antibacterial, antimicrobial, anti-inflammatory & antioxidant-rich ingredients. It calms infection and inflammation in your body. It also helps in bringing down the pus cells in the body. ESR Count is also highly effective for men who have increased pus cells in the semen which can cause infertility and other dysfunctions.
      </p>
    </div>
    <div class="image">
      <img
        src="https://wrijpsiiuvmeqaeklnqi.supabase.co/storage/v1/object/sign/new/bottle.png?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJuZXcvYm90dGxlLnBuZyIsImlhdCI6MTczNzU0MzIxMiwiZXhwIjoxNzY5MDc5MjEyfQ.WcNRl_a4Xo--hx-bm4gGRmqcQQqgHakVQ-gumwwWXdw&t=2025-01-22T10%3A53%3A32.570Z"
        alt="Product Image"
      />
    </div>
  </div>
</div>
