<!-- FOOTER START -->
<footer class="footer" role="contentinfo" itemscope itemtype="http://schema.org/WPFooter">
  <div class="footer-container">
      <div class="footer-col social" role="navigation" aria-labelledby="social-heading">
          
      </div>
      <div class="footer-col">
        <img class="footer-logo" src="https://wrijpsiiuvmeqaeklnqi.supabase.co/storage/v1/object/sign/new/welherb%20cmyk%201.svg?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJuZXcvd2VsaGVyYiBjbXlrIDEuc3ZnIiwiaWF0IjoxNzQwMjk2OTg5LCJleHAiOjMzMjc2Mjk2OTg5fQ.LxGSaE-4s1Q4DBwWRarp5ZLIj5fa7_Uw4hyodYuuzUQ" alt="Welherb Logo">
        <p style="color: black; font-size: 16px;">For healthy insights, at-home remedies & video guides, connect with us on:</p>
        <ul class="social-icons">
            <li><a href="#" aria-label="Instagram"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href="#" aria-label="Facebook"><i class="fa-brands fa-facebook"></i></a></li>
        </ul>
    </div>
      <div class="footer-col">
          <h3 style="font-family: lato, sans-serif !important;">Shop</h3>
          <ul>
              <li><a href="/shopall">Shop All</a></li>
              <!-- <li><a href="/shopall?category=liver">Combos</a></li> -->

              <li><a href="#">ESR</a></li>
              <li><a href="#">Liver</a></li>
              <li><a href="#">Thyroid</a></li>
              <li><a href="#">Gut</a></li>
              <li><a href="#">Diabetes</a></li>
              <li><a href="#">Joint Pain</a></li>
          </ul>
      </div>
      <div class="footer-col">
          <h3 style="font-family: lato, sans-serif !important;">About Us</h3>
          <ul>
              <li><a href="#">Why Welherb</a></li>
              <li><a href="/ingredients">Ingredients We Use</a></li>
              <li><a href="#">Trust the Process</a></li>
              <li><a href="#">Certifications</a></li>
              <li><a href="/blogs">Blog</a></li>
              <li><a href="#">Reviews</a></li>
          </ul>
      </div>
      <div class="footer-col">
          <h3 style="font-family: lato, sans-serif !important;">Our Policies</h3>
          <ul>
              <li><a href="/ShippingandRefundPolicy">Shipping and Refund Policy</a></li>

              <li><a href="/privacy-policy">Privacy</a></li>
                           <li><a href="/terms-conditions">Terms and Conditions</a></li>
       
          </ul>
      </div>
      <div class="footer-col">
          <h3 style="font-family: lato, sans-serif !important;">Help</h3>
          <ul>
              <li><a href="#">Contact Us</a></li>
              <!-- <li><a href="#">Free Consultation</a></li> -->
              <li><a href="#">Track Your Order</a></li>
          </ul>
      </div>
  </div>
  <div class="footer-bottom">
      <p>Copyright 2025 &copy; All Rights Reserved</p>
  </div>
</footer>
<!-- END OF FOOTER -->