



html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, Sans-serif;
    background-color: #0d1117;
}

.footer {
width: 100%;
    background-color: #fbf9f3;
    color: #fbf9f3;
    padding: 40px 100px;
    z-index: 10;
    /* display: revert; */
    position: relative;
}

.footer a {
    text-decoration: none;
    color: inherit;
    font-weight: 400;
}

.footer a:hover {
    text-decoration: underline;
}

/* Footer Container */
.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;
}

/* Footer Columns */
.footer-col {
    flex: 1;
    min-width: 200px;
    margin: 10px;
}

.footer-col h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-col ul {
    
    padding: 0;
}

.footer-col ul li {
    font-size: 14px;
    padding: 5px 0;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}

.footer-col ul li:hover {
    color: #777;
}

/* Social Media Section */
.footer-col.social {
    text-align: center;
    flex-basis: 100%;
}

.footer-logo {
    max-width: 180px;
    margin-bottom: 40px;
}

.social-icons {
    display: flex;
    /* justify-content: center; */
    padding: 0;
}
.footer .footer-col ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-icons li {
    list-style: none;
    margin: 0 10px;
}

.social-icons i {
    font-size: 28px;
    transition: transform 0.3s ease;
}

.social-icons i:hover {
    transform: scale(1.2);
}

/* Footer Bottom */
.footer-bottom {
    text-align: center;
    font-size: 14px;
    border-top: 1px solid #ddd;
    padding: 15px 0;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-col {
        min-width: 100%;
    }

    .social-icons {
        justify-content: center;
    }
}

@media screen and (max-width: 500px) {
    .footer-col h3 {
        font-size: 14px;
    }

    .footer-col ul li {
        font-size: 13px;
        font-weight: 400;
    }

    .social-icons i {
        font-size: 24px;
    }
}

