<div class="card">
    <p-menubar [model]="items">
        <ng-template pTemplate="start">
           <!-- Home Image, navigate to home on click -->
           <img 
               src="https://wrijpsiiuvmeqaeklnqi.supabase.co/storage/v1/object/sign/new/WhatsApp%20Image%202024-02-24%20at%2010.46%201%20(1).png?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJuZXcvV2hhdHNBcHAgSW1hZ2UgMjAyNC0wMi0yNCBhdCAxMC40NiAxICgxKS5wbmciLCJpYXQiOjE3MzExNDA3OTAsImV4cCI6MTc2MjY3Njc5MH0.zSC3UOyw2x0A6VSjprW5AUD5DiWunMC9HijUTHs8AqM&t=2024-11-09T08%3A26%3A30.248Z" 
               alt="Icon 1" 
               width="150px" 
               height="70px" 
               style="mix-blend-mode: darken;"
               (click)="navigateHome()">
        </ng-template>

        <ng-template pTemplate="item" let-item let-root="root">
            <a pRipple class="flex align-items-center p-menuitem-link" [routerLink]="item.routerLink">
                <span [class]="item.icon"></span>
                <span class="ml-2">{{ item.label }}</span>
                <p-badge *ngIf="item.badge" [ngClass]="{ 'ml-auto': !root, 'ml-2': root }" [value]="item.badge"></p-badge>
                <span *ngIf="item.shortcut" class="ml-auto border-1 surface-border border-round surface-100 text-xs p-1">{{ item.shortcut }}</span>
                <i *ngIf="item.items" [ngClass]="['pi', root ? 'pi-angle-down ml-2' : 'pi-angle-right ml-auto']"></i>
            </a>
        </ng-template>

        <ng-template pTemplate="end">
            <div class="flex align-items-center gap-2">
                <input type="text" pInputText placeholder="Search" class="w-8rem sm:w-auto" />
                
                <!-- Profile and Cart Icons -->
                <i class="pi pi-user" style="font-size: 1.5rem;"></i>
                <i class="pi pi-shopping-cart" style="font-size: 1.5rem;"></i>
            </div>
        </ng-template>
    </p-menubar>
</div>
