<div class="ingredients-container">
    <h2>Ingredients that nourish you inside-out</h2>
    <div class="grid">
        <div class="image-box" *ngFor="let ingredient of ingredients" (click)="toggleFlip(ingredient)">
            <div class="image-inner" [class.flipped]="ingredient.flipped">
                <!-- Front Side (Image) -->
                <div class="image-front">
                    <div class="header">
                        <p class="name">{{ ingredient.name }}</p>
                        <button class="flip-button">+</button>
                    </div>
                    <img [src]="ingredient.image" [alt]="ingredient.name" />
                </div>

                <!-- Back Side (Description) -->
                <div class="image-back">
                    <p>{{ ingredient.description }}</p>
                    <button class="back-button" (click)="toggleFlip(ingredient)">Back</button>
                </div>
            </div>
        </div>
    </div>
</div>
