<!-- 
<app-product-card style="z-index: 999; position: relative;"></app-product-card> -->
<!-- <app-learn style="z-index: 4; position: relative;"></app-learn> -->
<app-parallax style="z-index: 1; position: relative;"></app-parallax>
<div class="" style="margin-top: 200px;">
    <app-testimonial style="z-index: 3; position: relative;"></app-testimonial>
<app-ingredients style="z-index: 2; position: relative;"></app-ingredients>
<app-contact-doctor style="z-index: 5; position: relative;"></app-contact-doctor>
<app-form style="z-index: 6; position: relative;"></app-form>
<app-blog style="z-index: 7; position: relative;"></app-blog>
</div>
