<div
  class="product-card-container"
  [ngStyle]="selectedProduct?.image ? {
    'background-image': 'url(' + selectedProduct.image + ')',
    'background-color': '#fff'
  } : {
    'background-image': 'none',
    'background-color': 'white'
  }"
>


  <div class="product-overlay-content">
    <div class="product-name">
      <h5>
        {{ selectedProduct.name }}
      </h5>
    </div>

    <div class="product-info">
      <div class="desc-left">
        <h1>Helps How?</h1>
        <div class="description-point" *ngFor="let point of selectedProduct.shortDescLeft">{{ point }}</div>
        <div class="learnMore">
          <button class="learn-more-btn" style="gap: 10px;">Learn More</button>
          <button class="buy-more-btn">Buy Now</button>
        </div>
      </div>

      <div class="desc-right">
        <h1>Helps Who?</h1>
        <div class="description-point" *ngFor="let point of selectedProduct.shortDescRight">{{ point }}</div>
        <div class="buyMore">
          
        </div>
      </div>
    </div>

    <div class="other-products">
      <button class="other-product-btn" *ngFor="let product of products; let i = index"
              [class.selected]="i === selectedProductIndex"
              (click)="selectProduct(i)">
        {{ product.name }}
      </button>
    </div>
  </div>
</div>
