.container {
margin: 20px;
  }
  
  .grid-heading {
    font-size: 2em;
 
  }
  
  .grid-description {
    font-size: 1.2em;

  }
  
  .cta-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.5em 1em;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
   
  }
  
  .cta-button:hover {
    background-color: #0056b3;
  }
  
  .arrow {
    margin-left: 0.5em;
  }
  
  .image-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .image-item {
    position: relative;
    flex-basis: calc(100% / 7); /* 7 images in a row on large screens */
    height: 150px;
    border: 1px solid #4FAE32;

    margin: 0; /* No margin to avoid gaps */
  }
  
  .image-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: filter 0.3s ease;
  }
  
  .image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .image-item:hover img {
    filter: blur(2px);
  }
  
  .image-item:hover .image-overlay {
    opacity: 1;
  }
  
  /* Media Queries for Responsive Layouts */
  @media (max-width: 1024px) {
    .image-item {
      flex-basis: calc(100% / 5); /* 5 images in a row for medium screens */
    }
  }
  
  @media (max-width: 768px) {
    .image-item {
      flex-basis: calc(100% / 3); /* 3 images in a row for smaller tablets */
    }
  }
  
  @media (max-width: 480px) {
    .image-item {
      flex-basis: calc(100% / 2); /* 2 images in a row for mobile screens */
    }
  }
  