.container {
  background: #fcf8f4;
      padding: 60px 0px;

}

.grid-heading {
  font-family: 'Arima', cursive;

  
}

.grid-description {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.btn {
  display: flex;
  justify-content: center;
  margin-top: 50px;

}

.cta-button {
  background-color: var(--color-cta);
  color: white;
  border: none;
  border-radius: 16px;
  padding: 8px 40px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cta-button:hover {
  background-color: var(--color-cta);
}

.arrow {
  margin-left: 0.5em;
}

.image-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-item {
  position: relative;
  flex-basis: calc(100% / 7);
  height: 150px;
  border: 1px solid #02b101;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.image-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: filter 0.3s ease;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 1.1em; /* slightly bigger overlay text */
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image-item:hover img {
  /* filter: blur(2px); */
}

.image-item:hover .image-overlay {
  opacity: 1;
}
.title-heading-as{
  padding-left: 100px;
}

@media (max-width: 1024px) {
  .image-item {
    flex-basis: calc(100% / 5);
  }
}

@media (max-width: 768px) {
  .image-item {
    flex-basis: calc(100% / 3);
  }
}

@media (max-width: 480px) {
  .image-item {
    flex-basis: calc(100% / 2);
  }
}
