<div class="container" >
    <div class="box" [ngStyle]="{'background-color': color}">

      
   

    <div class="icons">
        <div class="icon">
            <img src="https://ewsorupyhavslsemnmhd.supabase.co/storage/v1/object/public/car-images/6%202.png?t=2024-10-21T07%3A10%3A00.599Z" alt="Icon 1">
            <p>100% natural</p>
        </div>
        <div class="icon">
            <img src="https://ewsorupyhavslsemnmhd.supabase.co/storage/v1/object/public/car-images/5%202.png" alt="Icon 2">
            <p>Ayush certified</p>
        </div>
        <div class="icon">
            <img src="https://ewsorupyhavslsemnmhd.supabase.co/storage/v1/object/public/car-images/7%20(1)%202.png" alt="Icon 3">
            <p>Non-addictive</p>
        </div>
        <div class="icon">
            <img src="https://ewsorupyhavslsemnmhd.supabase.co/storage/v1/object/public/car-images/3%202.png" alt="Icon 4">
            <p>GMP certified </p>
        </div>
        <div class="icon">
            <img src="https://ewsorupyhavslsemnmhd.supabase.co/storage/v1/object/public/car-images/1%20(1)%203.png" alt="Icon 5">
            <p>Zero Toxins</p>
        </div>
        <div class="icon">
            <img src="https://ewsorupyhavslsemnmhd.supabase.co/storage/v1/object/public/car-images/2%20248.png" alt="Icon 6">
            <p>Cruelty Free</p>
        </div>
    </div>
</div>
</div>