<div class="container">
  <div class="box">
    <div class="icons">
      <div class="icon-item">
        <img src="assets/Ayush Certified.png" alt="Ayush Certified" />
        <span>Ayush Certified</span>
      </div>
      <div class="icon-item">
        <img src="assets/100_Ayurvedic.png" alt="100% Ayurvedic" />
        <span>100% Ayurvedic</span>
      </div>
      <div class="icon-item">
        <img src="assets/No Toxins.png" alt="No Toxins" />
        <span>No Toxins</span>
      </div>
      <div class="icon-item">
        <img src="assets/Non-Addictive.png" alt="Non-Addictive" />
        <span>Non-Addictive</span>
      </div>
      <div class="icon-item">
        <img src="assets/Lab Tested.png" alt="Lab Tested" />
        <span>Lab Tested</span>
      </div>
      <div class="icon-item">
        <img src="assets/GMP Certified.png" alt="GMP Certified" />
        <span>GMP Certified</span>
      </div>
    </div>
  </div>
</div>
