<div class="container" >
    <div class="box" [ngStyle]="{'background-color': color}">

      
   

    <div class="icons">
        <div class="icon">
            <img src="https://wrijpsiiuvmeqaeklnqi.supabase.co/storage/v1/object/sign/new/Group%20634.svg?token=eyJraWQiOiJzdG9yYWdlLXVybC1zaWduaW5nLWtleV9jNTNkMmE3MS00ODk1LTRmN2YtYWExYS01ZjA1ZDhlYWE2YTciLCJhbGciOiJIUzI1NiJ9.eyJ1cmwiOiJuZXcvR3JvdXAgNjM0LnN2ZyIsImlhdCI6MTc2MTIwNDgxOCwiZXhwIjoxNzkyNzQwODE4fQ.qZiqjl-T2iQppEpxnXRDfsbw3R65UghSrhlIyWQautE" alt="Icon 1">
          
        </div>
        <div class="icon">
            <img src="https://wrijpsiiuvmeqaeklnqi.supabase.co/storage/v1/object/sign/new/Group%20638.svg?token=eyJraWQiOiJzdG9yYWdlLXVybC1zaWduaW5nLWtleV9jNTNkMmE3MS00ODk1LTRmN2YtYWExYS01ZjA1ZDhlYWE2YTciLCJhbGciOiJIUzI1NiJ9.eyJ1cmwiOiJuZXcvR3JvdXAgNjM4LnN2ZyIsImlhdCI6MTc2MTIwNDgyNSwiZXhwIjoxNzkyNzQwODI1fQ.8AIIQMWuWB5fCLyvztVsM_IASWuUl5s8W-KuTnQkSWs" alt="Icon 2">
           
        </div>
        <div class="icon">
            <img src="https://wrijpsiiuvmeqaeklnqi.supabase.co/storage/v1/object/sign/new/Group%20639.svg?token=eyJraWQiOiJzdG9yYWdlLXVybC1zaWduaW5nLWtleV9jNTNkMmE3MS00ODk1LTRmN2YtYWExYS01ZjA1ZDhlYWE2YTciLCJhbGciOiJIUzI1NiJ9.eyJ1cmwiOiJuZXcvR3JvdXAgNjM5LnN2ZyIsImlhdCI6MTc2MTIwNDgzMSwiZXhwIjoxNzkyNzQwODMxfQ.oIDHTtYuzUVAEUdLFjp6v5Lh7XZg8pcsmba_-p-7LGs" alt="Icon 3">

        </div>
        <div class="icon">
            <img src="https://wrijpsiiuvmeqaeklnqi.supabase.co/storage/v1/object/sign/new/Group%20647.svg?token=eyJraWQiOiJzdG9yYWdlLXVybC1zaWduaW5nLWtleV9jNTNkMmE3MS00ODk1LTRmN2YtYWExYS01ZjA1ZDhlYWE2YTciLCJhbGciOiJIUzI1NiJ9.eyJ1cmwiOiJuZXcvR3JvdXAgNjQ3LnN2ZyIsImlhdCI6MTc2MTIwNDgzNywiZXhwIjoxNzkyNzQwODM3fQ.NBaSyWdeTfKrMuQVFUUzyKbV_FccSd2ul0K6YvBOYk8" alt="Icon 4">
           
        </div>
        <div class="icon">
            <img src="https://wrijpsiiuvmeqaeklnqi.supabase.co/storage/v1/object/sign/new/Group%20648.svg?token=eyJraWQiOiJzdG9yYWdlLXVybC1zaWduaW5nLWtleV9jNTNkMmE3MS00ODk1LTRmN2YtYWExYS01ZjA1ZDhlYWE2YTciLCJhbGciOiJIUzI1NiJ9.eyJ1cmwiOiJuZXcvR3JvdXAgNjQ4LnN2ZyIsImlhdCI6MTc2MTIwNDg0NCwiZXhwIjoxNzkyNzQwODQ0fQ.6T_cpMd-GuKg9Va60rGkoJ2oRptiWUxuYTXJG0dOml8" alt="Icon 5">
           
        </div>
        <div class="icon">
            <img src="https://wrijpsiiuvmeqaeklnqi.supabase.co/storage/v1/object/sign/new/Group%20649.svg?token=eyJraWQiOiJzdG9yYWdlLXVybC1zaWduaW5nLWtleV9jNTNkMmE3MS00ODk1LTRmN2YtYWExYS01ZjA1ZDhlYWE2YTciLCJhbGciOiJIUzI1NiJ9.eyJ1cmwiOiJuZXcvR3JvdXAgNjQ5LnN2ZyIsImlhdCI6MTc2MTIwNDg1OCwiZXhwIjoxNzkyNzQwODU4fQ.nj9lDHCbxsHmcTAQx9dAy4cdpunE-jMai4wAlISq-wo" alt="Icon 6">
            
        </div>
    </div>
</div>
</div>