.container {
    text-align: center;

  }
  
  .box {
    background-color: #4eae32;
    /* border: 1px solid #4FAE32; */

    padding: 20px;
    color: black;

  }
  
  .tagline {
    font-size: 1.5em;
    margin: 20px 0;
  }
  
  .icons {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .icon {
    text-align: center;
  }
  
  .icon img {
    width: 60px;
    height: 70px;
  }
  p{
margin: 0;
  }