#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: transform 0.3s ease-in-out; /* Smooth hiding and showing */
}

.navbar-hidden {
    transform: translateY(-100%); /* Moves the navbar out of view */
}

.navbar-visible {
    transform: translateY(0); /* Brings the navbar into view */
}
