.testimonial-container {
    padding: 20px;
    background: #fcf8f4;
  }
  
  /* Grid for Desktop View */
  .testimonial-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 cards per row */
    gap: 20px;
  }
  
  .testimonial-card {
    background: #fcf9f4;
    border: 1px solid #4FAE32;
    border-radius: 8px;
    padding: 20px;
    text-align: left; /* Align text to the left */
    transition: transform 0.3s ease-in-out;
  }
  
  .testimonial-card:hover {
    transform: translateY(-5px);
  }
  
  .stars {
    display: flex;
    color: #7eb36a !important;
    font-size: 18px;
    justify-content: flex-start; /* Align stars to the left */
  }
  
  .review {
    font-size: 16px;
    margin: 10px 0;
    color: #333;
    text-align: left; /* Align review text to the left */
  }
  
  .user-info {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
    justify-content: flex-start; /* Align content to the left */
  }
  .title{
    
    
  display: flex;
  justify-content: center;
  align-items: center;
  }
  .profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #7eb36a;
  }
  
  .name {
    font-size: 18px;
    font-weight: bold;
    color: #000;
    text-align: left; /* Align name to the left */
  }
  
  .subtext {
    font-size: 14px;
    color: #777;
    text-align: left; /* Align subtext to the left */
  }
  
  /* Mobile View - Full Width Cards */
  @media (max-width: 768px) {
    .testimonial-grid {
      display: none; /* Hide grid */
    }
  
    .testimonial-container p-carousel {
      width: 100%;
    }
  }
  .btns{
    display: flex;
        justify-content: center;
        margin-top: 20px;
  }
  
  .call{
    margin-right: 10px;
    background-color: #02b101;
    color: white;
    border: none;
     border-radius: 16px;

    padding: 0.5em 1em;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
   
  }