<div class="testimonials-container">
  <!-- Header Section -->
  <app-reviews-carousel [showReadMore]="false"></app-reviews-carousel>

  <!-- Reviews and Form Section -->
  <app-product-reviews
    [ratingDistribution]="ratingDistribution"
    [detailedReviews]="detailedReviews"
  >
  </app-product-reviews>
</div>

<!-- Promotional Banner Section -->
<!-- <div class="promo-banner-section">
    <div class="promo-card">
      <div class="promo-image-container">
      
         <img src="https://wrijpsiiuvmeqaeklnqi.supabase.co/storage/v1/object/sign/new/bottle.png?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJuZXcvYm90dGxlLnBuZyIsImlhdCI6MTczNzU0MzIxMiwiZXhwIjoxNzY5MDc5MjEyfQ.WcNRl_a4Xo--hx-bm4gGRmqcQQqgHakVQ-gumwwWXdw" 
              alt="Sugaright Tablets" 
              class="promo-product-image">
      </div>
      <div class="promo-content">
        <h3 class="promo-title">Not sure?</h3>
        <p class="promo-text">Get a free sample at checkout</p>
        <button class="promo-btn">Buy Sample <span class="arrow">→</span></button>
      </div>
    </div>
  </div> -->
