<div class="container">
    <div class="Image" style=" border-radius: 8px;">
        <img  src="https://wrijpsiiuvmeqaeklnqi.supabase.co/storage/v1/object/sign/new/doctor.png?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJuZXcvZG9jdG9yLnBuZyIsImlhdCI6MTczNzMwMzk3NywiZXhwIjoyMDUyNjYzOTc3fQ.7t4yBdMw_Cn-qaDDCypfLixH4MQSrQPxi7POWCCrEe4&t=2025-01-19T16%3A26%3A17.567Z" style="height: 300px;  border-radius: 8px;">
    </div>
    <div class="Text">
        <div class="" style="margin-bottom: 20px;">
            <h3 style="text-align: justify;"> Your One-Stop Consulting Solution </h3>
        <p style="text-align: justify;">Feeling confused? Give us a call and we’ll be happy to assist you with expert guidance and tailored solutions.</p>
        </div>
        
        <div style="width: 100%;
        display: flex
    ;">
            <button class="call">Call us Now</button>
        </div>
    </div>
</div>