<div class="container">
    <div class="Image" style=" border-radius: 8px;">
        <img  src="https://wrijpsiiuvmeqaeklnqi.supabase.co/storage/v1/object/sign/new/doctor.png?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJuZXcvZG9jdG9yLnBuZyIsImlhdCI6MTczNzMwMzk3NywiZXhwIjoyMDUyNjYzOTc3fQ.7t4yBdMw_Cn-qaDDCypfLixH4MQSrQPxi7POWCCrEe4&t=2025-01-19T16%3A26%3A17.567Z" style="height: 300px;  border-radius: 8px;">
    </div>
    <div class="Text">
        <p>Need precise & personalised professional help? 
            We’re just a call away.</p>
        <div>
            <button class="call">Call us Now</button>
        </div>
    </div>
</div>