<div class="parallax-container">
<div class="">
  <h2 class="title">Spreading the <span class="highlight">joy of better living</span> with Ayurveda  </h2>
  <h2 class="title" style="display: flex; justify-content: center;">since 4 generations</h2>
</div>
<div class="imgVector">
  <img  style="position: absolute;
  left: 30%;
  margin-top: 90px;"src="https://wrijpsiiuvmeqaeklnqi.supabase.co/storage/v1/object/sign/new/Vector%2030.svg?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJuZXcvVmVjdG9yIDMwLnN2ZyIsImlhdCI6MTc0MDg1NDA5OCwiZXhwIjoxNzcyMzkwMDk4fQ.Tt7O75J_YrtpQdiU0gfdjSz3wB_7Ll8MXdM7z4kWlGw">
  
  <div class="button-container">
      <button class="btn btn-shop">Shop Now</button>
      <button class="btn btn-learn">Learn More</button>
  </div>
  <div class="parallax-image">
      <img src="https://wrijpsiiuvmeqaeklnqi.supabase.co/storage/v1/object/sign/new/Group%202%2010%20(1).svg?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJuZXcvR3JvdXAgMiAxMCAoMSkuc3ZnIiwiaWF0IjoxNzQwODUyODQ2LCJleHAiOjE3NzIzODg4NDZ9.WH5QCSqi7HH3Xn0Hp6oLQGH2sJIHKoafzDh-vo3QgQs" alt="Product">
  </div>
</div>