<div #parallaxContainer class="parallax-container">
  <div class="content sec">
    <div class="title-section">
      <h2 class="title">Spreading the <span class="highlight">joy of better living</span> with Ayurveda </h2>
      <h2 class="title" style="display: flex; justify-content: center;">since 4 generations</h2>
      <div class="button-container">
        <button class="btn btn-shop">Shop Now</button>
        <button class="btn btn-learn">Learn More</button>
      </div>
    </div>



    <div class="arrow1">
      <img
        src="https://wrijpsiiuvmeqaeklnqi.supabase.co/storage/v1/object/sign/new/Vector%2030.svg?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJuZXcvVmVjdG9yIDMwLnN2ZyIsImlhdCI6MTc0MDg1NDA5OCwiZXhwIjoxNzcyMzkwMDk4fQ.Tt7O75J_YrtpQdiU0gfdjSz3wB_7Ll8MXdM7z4kWlGw">
    </div>
  </div>
  <div class="content sec1">
    <div class="arrow-title1 part1">
      <div class="arrow2-arrow">
        <img
          src="https://wrijpsiiuvmeqaeklnqi.supabase.co/storage/v1/object/sign/new/Vector%2031%20(2).svg?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJuZXcvVmVjdG9yIDMxICgyKS5zdmciLCJpYXQiOjE3NDIxNjA2MjQsImV4cCI6MTc3MzY5NjYyNH0.cBJ8f9OuIfUlKnxhrnxRD-UYOsEEEWMooVhv6Batflg">

      </div>
      <div class="title-section-2">
        <h3 class="title-2">Zero Toxins</h3>
        <p class="text-2">No preservatives.<br />
          No synthetic binders.<br />

          No chemical coatings. </p>

      </div>
    </div>
  </div>

  <div class="content sec2">
    <div class="arrow-title1 part2">

      <div class="title-section-2 ">
       
          <p class="title-2">Made In-house</p>
          <p style="width:50%" class="text-2">Because your health is our top priority.
       
      </div>
      <div class="arrow2-arrow arrowleft">
        <img
          src="https://wrijpsiiuvmeqaeklnqi.supabase.co/storage/v1/object/sign/new/Vector%2033%20(1).svg?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJuZXcvVmVjdG9yIDMzICgxKS5zdmciLCJpYXQiOjE3NDIxNjA2NzAsImV4cCI6MTc3MzY5NjY3MH0.n4_nzHDIuDQ6i8pWVHz25ZMBVowykrDrtuMcuH41m7E">

      </div>
    </div>
  </div>
  <div class="content sec3">
    <div class="button-container-buy-now">
      <button class="btn btn-shop">Shop Now</button>
    </div>
    <div class="arrow-title1 part3">
      <div class="arrow2-arrow arrowrightbottom">
        <img
          src="https://wrijpsiiuvmeqaeklnqi.supabase.co/storage/v1/object/sign/new/Vector%2032.svg?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJuZXcvVmVjdG9yIDMyLnN2ZyIsImlhdCI6MTc0MjE2MDcxMCwiZXhwIjoxNzczNjk2NzEwfQ.Zfc0iXd8jdfULhofYyjTaLy9Fn9yuvvd-MVTXVbEG_0">

      </div>
      <div style="padding-top:10%" class="title-section-2">
        <h3 class="title-2">Targets Root Causes</h3>
        <p style="width:70%;" class="text-2">Not all your health problems require medicines for life.
      </div>

    </div>
  </div>
  <div class="parallax-image">
    <div class="bottle">
      <img
        src="https://wrijpsiiuvmeqaeklnqi.supabase.co/storage/v1/object/sign/new/Group%202%2010%20(1).png?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJuZXcvR3JvdXAgMiAxMCAoMSkucG5nIiwiaWF0IjoxNzQyMTU0NDA5LCJleHAiOjE3NzM2OTA0MDl9.-18w6K2qp2lgYCTeK6Z0h_DMcrDFXyoP6jniAFLYpds"
        alt="Product">

    </div>
    <div class="label-container">
      <div class="labels">
        <div>
          <img
            src="https://wrijpsiiuvmeqaeklnqi.supabase.co/storage/v1/object/sign/new/Suga%20Label.svg?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJuZXcvU3VnYSBMYWJlbC5zdmciLCJpYXQiOjE3NDI3MTU1NjYsImV4cCI6MTc3NDI1MTU2Nn0.ejwHh0jlxYyyJiOP24Cj7BqJYfvwygTmqfiJL2wTENA">
        </div>
        <div>
          <img
            src="https://wrijpsiiuvmeqaeklnqi.supabase.co/storage/v1/object/sign/new/Threctify%20Label.svg?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJuZXcvVGhyZWN0aWZ5IExhYmVsLnN2ZyIsImlhdCI6MTc0MjcxNTYzMiwiZXhwIjoxNzc0MjUxNjMyfQ.okCHxL7-J1WFdN0Z1lUw8nvnHG1JWY5QUKnUJ9HJOBE">
        </div>
        <div>
          <img
            src="https://wrijpsiiuvmeqaeklnqi.supabase.co/storage/v1/object/sign/new/ESR%20Label.svg?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJuZXcvRVNSIExhYmVsLnN2ZyIsImlhdCI6MTc0MjcxNTY3OCwiZXhwIjoxNzc0MjUxNjc4fQ.1Hwhe0WvH8JPeXi9oXe_w-Rb4OzhP_zWySG2GRTbI0g">
        </div>
      </div>
    </div>

  </div>
</div>