.parallax-container {
  position: relative;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  scroll-snap-type: y mandatory;
  /* x or y for direction, mandatory or proximity for behavior */
  overflow-x: auto;
  /* Enable scrolling */

  scroll-behavior: smooth;
  background: #FCF8F3;
  /* Optional: Enables smooth scrolling */
}

.content {
  display: flex;
  flex-direction: column;
  scroll-snap-align: start;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8);
}




.title {
  font-size: 2.5rem;
  font-weight: 600;
  color: #333;
  line-height: 30px;

}

.highlight {
  color: #8bc34a;
}

.button-container {
  margin-top: 20px;
}

.title-section {
  position: fixed
}

.arrow1 {
  position: fixed;
  left: 30%;
  bottom:"10%"
}


.btn {
  background-color: #8bc34a;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  border: 2px solid #8bc34a;
}

.btn-shop {
  margin-right: 10px;
}

.btn-learn {
  background-color: white;
  color: #333;
  border: 2px solid #8bc34a;
}

.parallax-image {
  position: fixed;
  bottom: -45%;
  /* Adjusted to show only the cap and a small portion of the bottle */
  left: 50%;
  transform: translateX(-50%);
  max-width: 300px;
  pointer-events: none;
}

.label-container {
  position: absolute;
  max-width: 278px;
  top: 30%;
  left: 3%;
  overflow: hidden;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}

.labels {
  max-width: 278px;
  top: 0;
  left: -278px;
  display: grid;
  grid-template-columns: repeat(3, 278px);

}

.parallax-image img {
  width: 100%;

}
.arrowleft{
  padding-top:10%
}

.arrow-title1 {
  position: fixed;
  /* left: 41%;
  top:15%; */
 
 pointer-events: none;
 display: grid;
  grid-template-columns: 180px 180px;
}

.title-2{
 font-size: 1.5rem;
  font-weight: 600;
  color: #333;
  line-height: 10px;
  max-width: max-content;
  text-align: start;
}

.title-section-2{
  display: flex;
  flex-direction: column;
 
 
 min-width: max-content;
 min-height: fit-content;
}
.text-2{
  font-size: 1rem;
  font-weight: 400;
  color: #333;
  display: flex;
  justify-content: start;
  line-height: 20px;
  margin-right: 10px;
  text-align: left;
}

.button-container-buy-now{
 position: fixed;
}

.part2{
  text-align: right;
}