/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
html {

    scroll-behavior: smooth;
 
}

body {
    font-family: var(--font-family);
    font-weight: normal;
    background: var(--surface-ground);
    color: var(--text-color);
    margin: 0px !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.p-card{
    box-shadow: none;
    background: none;
}
.card {
    background: var(--surface-card);
  
    border-radius: 10px;

}
.p-menubar {

    background-color: #fcf8f4 !important;
    border: none !important;
}
.gap-2{
    gap: 1.5rem !important;
}
.w-8rem {
    width: 15rem !important;
}